.pixel {
    border-color: black; 
    border-width: 1px;
    border-style: dotted;
    width: 15px;
    height: 15px;
    aspect-ratio: 1/1;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}