.pixel {
    border-color: lightgray; 
    border-width: 1px;
    border-style: dotted;
    width: 7px;
    height: 7px;
    aspect-ratio: 1/1;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

#yellow {
    background-color: yellow;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

#purple {
    background-color: purple;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

#green {
    background-color: green;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

#orange {
    background-color: orange;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

#black {
    background-color: black;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

#pink {
    background-color: pink;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

button {
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;

}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}